<!DOCTYPE html>
<html lang="en">
    <head>
        <title>HalleyAssist Contact Screen</title>
        <link rel="stylesheet" href="/css/contact.css">
    </head>
    <body style="background-color: black;">
        <div class="topright">
            <a href="/"><button type="button" style="background-color:palegreen; font-size: 50px; border-radius: 20px; font-weight: bold;">Back to Homepage</button></a>
        </div>
        <div class="centered">
            <div class="gridContainer">
                <a href=""><button type="button" style="background-color:lightcyan; font-size: 50px; border-radius: 20px;">Call Caretaker</button></a>
                <a href=""><button type="button" style="background-color:palegreen; font-size: 50px; border-radius: 20px;">Add Contact</button></a>
                <a href=""><button type="button" style="background-color:lightcyan; font-size: 50px; border-radius: 20px;">Call Guardian</button></a>
                <a href=""><button type="button" style="background-color:palegreen; font-size: 50px; border-radius: 20px;">Favourites</button></a>
                <a href=""><button type="button" style="background-color:lightcyan; font-size: 50px; border-radius: 20px;">Call SOS</button></a>
                <a href=""><button type="button" style="background-color:palegreen; font-size: 50px; border-radius: 20px;">Others</button></a>
            </div>
        </div>
    </body>
</html>
