<!DOCTYPE html>
<html lang="en">
    <head>
        <title>HalleyAssist home page</title>
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body style="background-color:black;">
        <img src="/images/halleyassist.PNG" style="width: 60px;"></img>
        <div class="voiceContainer topright">
            <button class="voiceBtn" style="font-size: 20px">Voice</button>
            <input type="text" id="voiceTxt">
        </div>
        <div class="loginContainer">
            <a href="/login"><button class="loginBtn" style="font-size: 40px; font-weight: bold;">Login / Signup</button></a>
            <a href="/signout"> <button class="signoutBtn displayGone">Signout</button></a>
        </div>
        <div style="text-align: center;" class="textColour">
            <span id="time"> </span><br>
        </div>
    
        <div class="centered">
            <div class="gridContainer">
                <a href="/contact"><button type="button" style="background-color:palegreen; font-size: 50px; border-radius: 20px;">Contact</button></a>
                <a href="/reminder"><button type="button" style="background-color:palegreen; font-size: 50px; border-radius: 20px;">Reminder</button></a>
                <a href="/profile"><button type="button" style="background-color:palegreen; font-size: 50px; border-radius: 20px;">Profile</button></a>
                <button type="button" style="background-color:cornflowerblue; color:white; font-size: 50px; border-radius: 20px;">Quick SOS</button>
            </div>
        </div>
    
        <div class="bottomright">
        </div>
        <div class="textColour">
            <script src="/js/time.js"></script>
        </div>
        
        <script src="/js/landingJS.js"></script>
        <script src="/js/voice.js"></script>
    </body>
</html>