<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reminder</title>
    <link rel="stylesheet" href="/css/reminder.css" />
  </head>
  <body style="background-color: black">
    <div class="indexContainer">
      <a href="/"><button class="indexBtn">Back to Homepage</button></a>
    </div>
    <h2 style="color: white">Reminder Page</h2>
    <section class="notifSection">
      <div class="switch">
        <button id="addSwitch" class="active">Add Reminder</button>
        <button id="upcomingSwitch">Upcoming Reminder</button>
      </div>
      <section class="addWrapper">
        <form class="addSection" action="/add/reminder" method="post">
          <input type="text" placeholder="title" id="title" name="title" />
          <div class="start">
            <label for="remindDate">Date/Time</label>
            <input type="datetime-local" name="remindDate" id="remindDate" />
          </div>
          <div class="noteSection">
            <label for="notes">Notes</label>
            <textarea name="notes" id="notes" cols="30" rows="5"></textarea>
          </div>
          <button id="addBtn">Add</button>
        </form>
      </section>
      <section class="upcomingSection displayGone">
        <div>
          <ul class="upcomingList" style="color: white">
            <%if(typeof reminders != "undefined"){%> <%for(let reminder of
            reminders){%>
            <li>
              <p><%=reminder.title%></p>
              <p><%=reminder.remindDate%></p>
            </li>
            <%}%> <%}%>
          </ul>
        </div>
      </section>
    </section>

    <!--JS-->
    <script src="js/reminder.js"></script>
  </body>
</html>
