.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}
.bottomright {
  position: fixed;
  top: 100%;
  left: 100%;
  transform: translate(-100%, -100%);
}
.topright {
  position: fixed;
  left: 100%;
  transform: translate(-100%, -100%);
}

.loginContainer {
  display: flex;
  justify-content: end;
  padding: 1rem 2rem;
}

.voiceContainer {
  display: flex;
  flex-direction: row;
}

.loginBtn,
.signoutBtn,
.voiceBtn {
  padding: 0.4rem 2rem;
  border-radius: 10px;
  background-color: palegreen;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

.gridContainer button {
  width: 10em;
  padding: 2em 0.5em;
  font-weight: bold;
}

.displayGone {
  display: none;
}

.textColour {
  font-weight: bold;
  color: white;
}

.voiceActivated {
  box-shadow: rgba(255, 68, 68, 0.5) 0px 0px 0px 1px,
    rgba(255, 69, 69, 0.7) 0px 0px 0px 3px;
}
